body{
    background-image:url(img.jpg);
    background-size: cover;
}

.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
}

#btn{
    float: right;
}

canvas {
    border: 5px solid white;
    box-shadow: 5px 5px 5px gray;
    margin-top: 50px;
}